In [1]:
import pandas as pd
import numpy as np
# Load the data
data = pd.read_csv("cardio_train.csv", delimiter=';')
type(data)

pandas.core.frame.DataFrame

In [2]:
data.head(5)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [3]:
data.shape

(70000, 13)

In [4]:
data.sample(5)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
65713,93796,19682,2,170,71.0,140,80,1,1,1,0,1,1
56926,81257,23343,2,168,63.0,140,90,1,1,0,0,1,1
19431,27758,21889,1,168,70.0,120,80,1,1,0,0,1,1
51520,73479,23422,1,151,76.0,130,90,1,1,0,0,1,1
34959,49936,16595,2,160,64.0,110,80,1,1,0,0,1,0

## cleaning and understanding our dataset

In [5]:
print(data['cholesterol'].unique())
data['cardio'].nunique()

[1 3 2]

2

In [6]:
data.nunique()

id             70000
age             8076
gender             2
height           109
weight           287
ap_hi            153
ap_lo            157
cholesterol        3
gluc               3
smoke              2
alco               2
active             2
cardio             2
dtype: int64

In [7]:
data.drop("id",axis=1,inplace=True)
data.drop_duplicates(inplace=True)

In [8]:
info = ["age in days","1: male, 0: female","Height","Weight","Systolic blood pressure","Diastolic blood pressure","Cholesterol | type-1: normal, 2: above normal, 3: well above normal|","Glucose | type-- 1: normal, 2: above normal, 3: well above normal |","Smoking ","Alcohol intake ","Physical activity","Presence or absence of cardiovascular disease"]



for i in range(len(info)):
    print(data.columns[i]+":\t\t\t"+info[i])

age:			age in days
gender:			1: male, 0: female
height:			Height
weight:			Weight
ap_hi:			Systolic blood pressure
ap_lo:			Diastolic blood pressure
cholesterol:			Cholesterol | type-1: normal, 2: above normal, 3: well above normal|
gluc:			Glucose | type-- 1: normal, 2: above normal, 3: well above normal |
smoke:			Smoking
alco:			Alcohol intake
active:			Physical activity
cardio:			Presence or absence of cardiovascular disease

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69976 entries, 0 to 69999
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          69976 non-null  int64
 1   gender       69976 non-null  int64
 2   height       69976 non-null  int64
 3   weight       69976 non-null  float64
 4   ap_hi        69976 non-null  int64
 5   ap_lo        69976 non-null  int64
 6   cholesterol  69976 non-null  int64
 7   gluc         69976 non-null  int64
 8   smoke        69976 non-null  int64
 9   alco         69976 non-null  int64
 10  active       69976 non-null  int64
 11  cardio       69976 non-null  int64
dtypes: float64(1), int64(11)
memory usage: 6.9 MB

In [10]:
data['cholesterol'].value_counts()

1    52361
2     9549
3     8066
Name: cholesterol, dtype: int64

In [11]:
len(data)

69976

In [12]:
# Convert age from days to years
data['age'] = (data['age'] / 365).round().astype(int)
data.head(5)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,50,2,168,62.0,110,80,1,1,0,0,1,0
1,55,1,156,85.0,140,90,3,1,0,0,1,1
2,52,1,165,64.0,130,70,3,1,0,0,0,1
3,48,2,169,82.0,150,100,1,1,0,0,1,1
4,48,1,156,56.0,100,60,1,1,0,0,0,0

In [13]:
data['weight'].value_counts()

65.0    3843
70.0    3761
68.0    2829
75.0    2739
60.0    2707
        ...
92.2       1
75.6       1
82.9       1
23.0       1
99.9       1
Name: weight, Length: 287, dtype: int64

In [14]:
data['weight']=data['weight'].round().astype(int)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69976 entries, 0 to 69999
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          69976 non-null  int32
 1   gender       69976 non-null  int64
 2   height       69976 non-null  int64
 3   weight       69976 non-null  int32
 4   ap_hi        69976 non-null  int64
 5   ap_lo        69976 non-null  int64
 6   cholesterol  69976 non-null  int64
 7   gluc         69976 non-null  int64
 8   smoke        69976 non-null  int64
 9   alco         69976 non-null  int64
 10  active       69976 non-null  int64
 11  cardio       69976 non-null  int64
dtypes: int32(2), int64(10)
memory usage: 6.4 MB

In [17]:
data.describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,69976.000000,69976.000000,69976.000000,69976.000000,69976.000000,69976.000000,69976.000000,69976.000000,69976.000000,69976.000000,69976.000000,69976.000000
mean,53.338945,1.349648,164.359152,74.208371,128.820453,96.636261,1.366997,1.226535,0.088159,0.053790,0.803718,0.499771
std,6.765633,0.476862,8.211218,14.397283,154.037729,188.504581,0.680333,0.572353,0.283528,0.225604,0.397187,0.500004
min,30.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,54.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,58.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,65.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

### Analysing the 'target' variable

In [18]:
data["cardio"].describe()

count    69976.000000
mean         0.499771
std          0.500004
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: cardio, dtype: float64

In [19]:
data["cardio"].unique()

array([0, 1], dtype=int64)

##### Clearly, this is a classification problem, with the target variable having values '0' and '1'

In [21]:
print(data.corr()["cardio"].abs().sort_values(ascending=False))

cardio         1.000000
age            0.237778
cholesterol    0.221119
weight         0.181596
gluc           0.089268
ap_lo          0.065717
ap_hi          0.054475
active         0.035666
smoke          0.015533
height         0.010871
gender         0.008037
alco           0.007366
Name: cardio, dtype: float64